@import "../../Variables.scss";
.blog {
    text-align: center;
    padding: 0 15px 70px 15px;
    > h1 {
        color: $cl-white-1;
        font-weight: 400;
        font-size: $fs-2 + 0.3;
        margin: 0;
    }
    .blog__content {
        margin-top: 30px;
        .row {
            margin: 0;
            > div {
                padding: 15px;
                margin: 0;
            }
        }
        .blog__item {
            text-align: left;
            .blog__item__img {
                img {
                    width: 100%;
                }
            }
            h6 {
                color: $cl-white-0;
                margin: 20px 0;
                font-weight: 400;
            }
            p {
                color: $cl-white-2;
                font-weight: 500;
                font-size: $fs-0 - 0.1;
                transition: all 0.2s;
                cursor: pointer;
                &:hover {
                    color: $cl-orange-0;
                }
            }
            .blog__item__read {
                color: $cl-white-0;
                font-weight: 400;
                display: inline-block;
                position: relative;
                padding: 10px 20px;
                border: 1px solid transparent;
                border-top: none;
                border-bottom: none;
                transition: all 0.3s;

                overflow: hidden;
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    //border: 1px solid red;
                    background-color: $cl-orange-0;
                    bottom: 0;
                    left: 0;
                    transition: all 0.2s;
                    transform: translateX(105%);
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    //border: 1px solid red;
                    background-color: $cl-orange-0;
                    top: 0;
                    left: 0;
                    transition: all 0.2s;
                    transform: translateX(-105%);
                }
                i {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    transition: all 0.2s;
                }
                &:hover {
                    &::before {
                        transform: translateX(0);
                    }
                    &::after {
                        transform: translateX(0);
                    }
                    i {
                        transform: translate(100%, -50%);
                    }
                    border-color: $cl-orange-0;
                    color: $cl-orange-0;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .blog {
        padding: 0 10px 70px 10px;
        > h1 {
            font-size: $fs-1;
        }
        .blog__content {
            .row {
                > div {
                    padding: 10px;
                }
            }
        }
    }
}
