//color
$cl-black-0: #1A1D24;
$cl-black-1: #15171D;
$cl-black-2: #22242A;



$cl-gray-0: #535356;
$cl-gray-1: rgba(83, 83, 86,.8);
$cl-gray-2: rgba(83, 83, 86,.4);
$cl-gray-3: #707070;

$cl-white-0: #cebaa4;
$cl-white-1: #ffffff;
$cl-white-2: #EBEEEE;

$cl-orange-0: #c27b43;
$cl-orange-1: rgba(194, 123, 67,.7);
//font-size
$fs-0: 1.4rem;
$fs-1: 1.8rem;
$fs-2: 2.4rem;
$fs-3: 4rem;
$fs-4: 6rem;

//padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 30px;
$pd-6: 35px;
$pd-7: 50px;
$pd-8: 100px;
//margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-5: 30px;
$mg-6: 35px;
$mg-7: 60px;